body{
    font-family: 'Poppins', sans-serif;
}
.blue-color{
    color: red
}
.flexibal-continer{
    display: flex;
}
.top-baner{
   background-image: url(imeges/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-right: 100px;
}
.image-baner{
    margin-right: 100px;
    
}
.button-link{
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 7%;
    font-weight: 400;
    background-image: linear-gradient(rgb(231, 146, 131), red);
}
.medil-imeges{
    margin-left: 100px;
    margin-top: 50px;

}
.medil-text{
    margin-left: 200px;
    margin-top: 200px;
    padding-right: 50px;
}

.bootom-imeges{
    background-image: url(imeges/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 100px;

    
}
#box-degain{
    box-shadow: 10px 10px 70px grey;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 85px;
    margin-right: 85px;
}
.box-degain1{
    border-left: 10px solid;
    border-image: linear-gradient(blue ,cyan) ;
    border-image-slice: 1;
}
.box-degain2{
    border-left: 10px solid;
 border-image: linear-gradient(blue, rgb(27, 73, 73));
 border-image-slice: 1;

}
footer{

    text-align:center;
}

