body{
    font-family: 'Poppins', sans-serif;
}
.blue-color{
    color: red
}
section{
    display: flex;
}
.top-baner{
    margin-left: 100px;
    padding-right: 200px;
    margin-top: 50px;
    background-image: url(imeges/top-banner.png);
    background-repeat: no-repeat;
}
.image-baner{
    margin-right: 100px;
    margin-top: 50px
}
.button-link{
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 7%;
    font-weight: 400;
    background-image: linear-gradient(rgb(231, 146, 131), red);
}
.medil-benar{
    display: flex;

    
}
.medil-imeges{
    margin-left: 100px;
    margin-top: 50px;

}
.medil-text{
    margin-left: 200px;
    margin-top: 200px;
    padding-right: 50px;


}